<div class="container">
    <h1 *ngIf="itemId==0"class="text-center">Add Inventory Item</h1>
    <h1 *ngIf="itemId>0" class="text-center">Edit Inventory Item</h1>
   <mat-card>
<form class="example-form a-shadow-sm mt-3" [formGroup]="itemForm" (ngSubmit)="onAdd()">
   <div class="row">
       <mat-form-field appearance="outline">
           <mat-label>Name</mat-label>
           <input maxlength="35" matInput placeholder="Enter the name of item" formControlName="name">
           <mat-error *ngIf="controls.name.invalid">{{errMsg.name}}</mat-error>
         </mat-form-field>
   </div>
   <div class="row">
       <mat-form-field appearance="outline">
           <mat-label>Description</mat-label>
           <textarea maxlength="300" matInput placeholder="Enter the description of item" formControlName="description"></textarea>
           <mat-error *ngIf="controls.description.invalid">{{errMsg.description}}</mat-error>
         </mat-form-field>
          
   </div>
   <div class="row">
       <mat-form-field appearance="outline">
       <mat-label>Price(₹)</mat-label>
       <input max="999999999999" matInput type="number" class="fa fa-inr" placeholder="Enter the price of item" formControlName="price">
       <mat-error *ngIf="controls.price.invalid">{{errMsg.price}}</mat-error>
     </mat-form-field>
   </div>
   <div class="row">
    <mat-form-field appearance="outline">
      <mat-label>Manufacturing date</mat-label>
      <input matInput [matDatepicker]="picker1" formControlName="mfd">
      <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
      <mat-datepicker #picker1></mat-datepicker>
      <mat-error *ngIf="controls.mfd.invalid">{{errMsg.mfd}}</mat-error>
    </mat-form-field>
   </div>
 </form>
</mat-card>
<div class="mt-2 text-center">
   <button  (click)="onClose()" class=" btn btn-danger mx-1">Cancel</button>
   <button  *ngIf="itemId==0" (click)="onAdd()" class="btn btn-primary mx-1">Add</button>
   <button  *ngIf="itemId>0" (click)="onEdit()" class="btn btn-primary mx-1">Edit</button>
</div>
</div>